body {
    margin: 0;
    font-family: arial;
}

ul.reset {
	list-style: none;
	padding: 0;
	margin: 0;
}


.text-center {
    text-align: center;
}


.text-fancy {
    position: relative;
    display: inline-block;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.text-fancy::before {
    content: '';
    height: 40px;
    width: 150px;
    background: #fff1f1;
    display: block;
    position: absolute;
    left: 30%;
    z-index: -1; 
    border-right: 40px solid white;
}




.bold {
    font-weight: bold;
}



/**
 * Font Sizes
 */

 .text-sm { font-size: 0.8em }
 .text-md { font-size: 1em }
 .text-lg { font-size: 1.4em }
 .text-xl { font-size: 1.8em }
 .text-2xl { font-size: 2.2em }
 .text-3xl { font-size: 2.8em }

 @media(min-width: 768px){

    .md-text-sm { font-size: 0.8em }
    .md-text-md { font-size: 1em }
    .md-text-lg { font-size: 1.4em }
    .md-text-xl { font-size: 1.8em }
    .md-text-2xl { font-size: 2.2em }
    .md-text-3xl { font-size: 2.8em }
}


.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}